<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tomer's ToDo Tool</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Create Task</a></li>
      <li><a href="#">Show Tasks</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Get Disciplined</h1>
    <p>Organize yourself with Tomer's <b>ToDo Tool</b>. Add tasks and get the reminder at the time of task.</p>
  </div>
</div>
